{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5 h1-title-page">Créer un compte</h1>
        </div>

        <div class="row">
            <div class="col-12 col-md-4 offset-md-4 my-3">

                {# Ouverture du formulaire #}
                {{ form_start(registrationForm) }}

                {# Affichage des erreurs générales du formulaire #}
                {{ form_errors(registrationForm) }}

                {{ form_row(registrationForm.lastname) }}

                {{ form_row(registrationForm.firstname) }}

                {{ form_row(registrationForm.email) }}

                {{ form_row(registrationForm.plainPassword) }}

                {{ form_row(registrationForm.agreeTerms) }}

                {# Affichage du captcha avec la clé publique #}
                <div class="form-group">
                    <p class="mb-2">Captcha de sécurité</p>
                    <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
                </div>

                {# Fermeture du formulaire #}
                {{ form_end(registrationForm) }}


            </div>
        </div>
    </div>
{% endblock %}
{% block css %}
    {# Insertion du fichier JS Recaptcha #}
    <script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}
