{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
  <!-- Page Content -->
    <div class="container article-p">

        <div class="row">

              <!-- Post Content Column -->
              <div class="col-12">


                  <button class="btn btn-yellow my-5"><a href="{{ path('all_articles') }}">Retour a la liste des articles</a></button>

                  <!-- Title -->
                  <h1 class="mt-4">{{ article.title }}</h1>

                  <!-- Author -->
                  <p>
                    by
                    <a href="#">{{ article.author.firstname }} {{ article.author.lastname }}</a>
                  </p>

                  <hr>

                  <!-- Date/Time -->
                  <p>{{ article.publicationDate|date('d/m/Y') }}</p>


                  <hr>

                  <!-- Post Content -->
                  <p>{{ article.content|purify }}</p>

                </div>







        </div>


    </div>

{% endblock %}