{% extends 'base.html.twig' %}

{% block title %}Licencié(es){% endblock %}

{% block body %}
<div class="container-fluid">
    {% include 'partials/flashes/success.html.twig' %}
    <!-- Bloc supérieur histoire/img/dernier article-->
    <div class="row">
      <h1 class="col-12 my-5 text-center h1-title-page">Informations licencié(es)</h1>
      <a class="btn btn-yellow col-12 col-md-4 offset-md-4 col-sm-4 offset-sm-4 my-3 mb-5" href="{{ path("add_licensed") }}">Ajouter un(e) nouveau licencié(e)</a>
  </div>

  <div class="row">

        {% for licensed in app.user.licenseds %}


        <div class="card card-licensed-user col-lg-8 offset-lg-2">
          <div class="card-body">
            <h2 class="card-title h2-title-licensed"><span>{{ licensed.firstname }} </span><span>{{ licensed.lastname }}</span></h2>
            <h5 class="card-subtitle mb-2 text-muted">Informations enregistrées</h5>
            <div class="card-text">
              <ul class="list-group list-unstyled">
                <li class="col-6 my-2">Genre : <b>{{ licensed.gender }}</b></li>
                <li class="col-6 my-2">Date de naissance : <b>{{ licensed.birthdate|date('d/m/Y') }}</b></li>
                <li class="col-6 my-2">Adresse : <b>{{ licensed.address }}</b></li>
                <li class="col-6 my-2">Ville : <b>{{ licensed.city }}</b></li>
                <li class="col-6 my-2">Numéro de sécurité sociale : <b>{{ licensed.socialSecurityNumber }}</b></li>
                <li class="col-6 my-2">Discipline : <b>{{ licensed.discipline }}</b></li>
                {% if licensed.medicalRemark is empty %}

                {% else %}
                  <li class="col-6 my-2">Remarque(s) médicale : <b>{{ licensed.medicalRemark }}</b></li>
                {% endif %}
                {% set numbers = [] %}
                {% for phone in licensed.phones %}
                  {% set numbers = numbers|merge([phone.number]) %}
                {% endfor %}
                {% if numbers is empty %}
                {% else %}
                <li class="col-6 my-2">Numéro(s) de téléphone : <b>{{ numbers|join(', ') }}</b></li>
                {% endif %}
              </ul>
            </div>
            <div class="d-flex justify-content-between">
              <a class="btn btn-yellow col-3 m-3 mt-3" href="{{path('modify_licensed', {id: licensed.id})}}">
                Modifier les informations
              </a>
              <a class="btn btn-yellow col-3 m-3 mt-3" href="{{path('add_phone', {id: licensed.id})}}">
                Ajouter un numéro de téléphone
              </a>
              <a class="btn btn-danger col-3 m-3 mt-3" href="{{path('delete_licensed', {id: licensed.id})}}">
                Supprimer ce licencié
              </a>
            </div>
          </div>
        </div>
      {% endfor %}



  </div>
</div>

{% endblock %}

