{% extends 'base.html.twig' %}

{% block title %}Informations licencié(e)s{% endblock %}

{% block body %}



<div class="container-fluid">
  {% include 'partials/flashes/success.html.twig' %}
  <div class="row">
    <h1 class="col-12 text-center my-5 h1-title-page">Données licencié(es)</h1>
    <button class="btn btn-yellow col-12 col-md-4 offset-md-4 my-3 mb-5"><a href="{{ path("add_licensed") }}">Ajouter un(e) nouveau licencié(e)</a></button>
  </div>

{# Infos du compte #}
  <div class="row">



        {% for licensed in licenseds %}

        <div class="card card-licensed-user col-lg-8 offset-lg-2">
          <div class="card-body">
            <h2 class="card-title h2-title-licensed"><span>{{ licensed.firstname }} </span><span>{{ licensed.lastname }}</h2>
            <h5 class="card-subtitle mb-2 text-muted">Informations enregistrées</h5>
            <div class="card-text">
              <ul class="list-group list-unstyled">
                <li class="col-6 my-2">Genre : <b>{{ licensed.gender }}</b></li>
                <li class="col-6 my-2">Date de naissance : <b>{{ licensed.birthdate|date('d/m/Y') }}</b></li>
                <li class="col-6 my-2">Adresse : <b>{{ licensed.address }}</b></li>
                <li class="col-6 my-2">Ville : <b>{{ licensed.city }}</b></li>
                <li class="col-6 my-2">Numéro de sécurité sociale : <b>{{ licensed.socialSecurityNumber }}</b></li>
                <li class="col-6 my-2">Discipline : <b>{{ licensed.discipline }}</b></li>
                <li class="col-6 my-2">Remarque(s) médicale : <b>{{ licensed.medicalRemark }}</b></li>
                {% set numbers = [] %}
                {% for phone in licensed.phones %}
                  {% set numbers = numbers|merge([phone.number]) %}
                  <li class="col-6 my-2">Numéros de téléphone : <b>{{ numbers|join(', ') }}</b></li>
                {% endfor %}
              </ul>
            </div>
              <div class="d-flex justify-content-between">
                <button class="btn btn-yellow col-3 m-3 mt-3">
                  <a class="text-dark" href="{{path('modify_licensed', {id: licensed.id})}}">
                    Modifier les informations
                  </a>
                </button>
                <button class="btn btn-yellow col-3 m-3 mt-3">
                  <a href="{{path('add_phone', {id: licensed.id})}}">
                    Ajouter un numéro de téléphone
                  </a>
                </button>
                <button class="btn btn-danger col-3 m-3 mt-3">
                  <a class="text-white" href="{{path('delete_licensed', {id: licensed.id})}}">
                    Supprimer ce licencié
                  </a>
                </button>
              </div>
          </div>
        </div>
        {% endfor %}


  </div>

  <div class="row">

          {# Bouton modifier profil #}
          {#<button class="btn btn-yellow col-12 col-md-4 offset-md-4 my-3"><a href="#">Modifier les informations du profil</a></button>#}

  </div>


    </div>
</div>




{% endblock %}

