{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}



<div class="container-fluid">
    {% include 'partials/flashes/success.html.twig' %}
    <div class="row">
                <h1 class="col-12 text-center my-5 h1-title-page">Informations du profil</h1>
    </div>

{# Infos du compte #}
  <div class="row">

      <div class="bloc-infos col-12 col-md-8 offset-md-2 col-sm-8 offset-sm-2 my-3">

          <div>
              <p><span>Nom </span>: <b>{{ app.user.lastname }}</b></p>
          </div>
          <div>
              <p><span>Prénom </span>: <b>{{ app.user.firstname }}</b></p>
          </div>
          <div>
              <p><span>Adresse email </span>: <b>{{ app.user.email }}</b></p>
          </div>
          <div>
              <p><span>Date d'inscription</span>: <b>{{ app.user.registerDate|date('d/m/Y à H\\hi') }}</b></p>
          </div>
          <div>
              <p><span>Rôle </span>: <b>{{ is_granted('ROLE_ADMIN') ? 'Administrateur' : 'Utilisateur'}}</b></p>
          </div>

      </div>

  </div>

  <div class="row">
        <div class="col-md-8 offset-md-2 col-sm-8 offset-sm-2">
          {# Bouton modifier profil #}
          <button class="btn btn-yellow col-12 my-3"><a href="{{ path('modify_profil') }}">Modifier les informations du profil</a></button>

          {# Bouton pour ajouter un licencié #}
          <button class="btn btn-yellow col-12 my-3"><a href="{{ path("add_licensed") }}">Ajouter un(e) nouveau licencié(e)</a></button>
        </div>
  </div>


    </div>
</div>




{% endblock %}

