{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}



<div class="container-fluid">

  <div class="row">
            <h1 class="col-12 text-center my-5 h1-title-page">Informations du profil</h1>
  </div>

{# Infos du compte #}
  <div class="row">

      <div class="bloc-infos col-12 col-md-4 offset-md-4 my-3">

          <div>
              <p><span>Nom </span>: {{ app.user.lastname }}</p>
          </div>
          <div>
              <p><span>Prénom </span>: {{ app.user.firstname }}</p>
          </div>
          <div>
              <p><span>Adresse email </span>: {{ app.user.email }}</p>
          </div>
          <div>
              <p><span>Date d'inscription</span>: {{ app.user.registerDate|date('d/m/Y à H\\hi') }}</p>
          </div>
          <div>
              <p><span>Rôle </span>: {{ is_granted('ROLE_ADMIN') ? 'Administrateur' : 'Utilisateur'}}</p>
          </div>

      </div>

  </div>

  <div class="row">

          {# Bouton modifier profil #}
          <button class="btn btn-yellow col-12 col-md-4 offset-md-4 my-3"><a href="#">Modifier les informations du profil</a></button>

          {# Bouton pour ajouter un licencié #}
          <button class="btn btn-yellow col-12 col-md-4 offset-md-4 my-3"><a href="#">Ajouter un(e) nouveau licencié(e)</a></button>

  </div>


</div>




{% endblock %}

