<!DOCTYPE html>
<html lang="fr" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- TODO: Paramétriser le nom -->
    <title>{% block title %}Nouvelle page{% endblock %} - XXXXX</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {# Inclusion des fichiers CSS individuels des pages #}
    {% block css %}{% endblock %}
</head>
<body class="d-flex flex-column h-100">

    <header>
        <!-- Barre du menu de naviguation -->
        <!-- TODO faire un petit logo -->
        <nav class="navbar navbar-expand-sm navbar-default">


                <a class="navbar-brand" href="#"><img class="logo-navbar" src="{{ asset('src/logo.png') }}" alt="logo-ugc"></a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
              </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('home') }}">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Discipline </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Baby Gym</a>
                            <a class="dropdown-item" href="#">Loisir</a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Gymnastique masculine</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    {% if app.user %}
                        <li class="nav-item">
                            <a href="{{ path('profil') }}" class="nav-link">Profil</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('licensed') }}" class="nav-link">Licencié(es)</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('app_logout') }}" class="nav-link"><i class="fas fa-sign-out-alt mr-1"></i>Déconnexion</a>
                        </li>
                    {% else %}
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </nav>

    </header>

    {# Affichage du contenu principal des pages #}
    {% block body %}{% endblock %}

       <!-- Footer -->
    <footer class="bg-default text-center text-lg-start mt-auto">
        <!-- Grid container -->
        <div class="container col-lg-12 col-md-12 col-sm-12 p-4">
        <!--Grid row-->
            <div class="row">
            <!--Grid column-->
                <div class="col-lg-4 col-sm-12">
                    <h5 class="text-uppercase">LABEL</h5>
                    <img src="{{ asset('src/ffgym.jpg') }}" class="footer_img" alt="label_ffg">
                    <img src="{{ asset('src/babygym.jpg') }}" class="footer_img" alt="label_babygym">
                </div>

                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="vl">
                    <h5 class="text-uppercase mb-3">CONTACT</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <p>Tél. 03 85 43 64 74</p>
                        </li>
                        <li>
                            <p><a href="mailto:ugchalon@gmail.com">Envoyez nous un mail !</a></p>
                        </li>
                        <li>
                            <p class="fb-p"><a href="#"><i class="fab fa-facebook fa-2x"></i>Rejoignez-nous !</a></p>
                        </li>
                    </ul>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h5 class="text-uppercase mb-5">C.G.U.</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark">Lorem ipsum dolor sit amet consectetur.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
        <!-- Grid container -->

  <!-- Footer -->

       <script src="{{ asset('js/jquery-3.5.1.slim.min.js') }}"></script>
       <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
       {# Inclusion des fichiers JS individuels des pages #}
       {% block js %}{% endblock %}
   </body>
   </html>
