<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- TODO: Paramétriser le nom -->
    <title>{% block title %}Nouvelle page{% endblock %} - XXXXX</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {# Inclusion des fichiers CSS individuels des pages #}
    {% block css %}{% endblock %}
</head>
<body>

    <header>
        <!-- Barre du menu de naviguation -->
        <!-- faire un petit logo -->
        <nav class="navbar navbar-expand-lg navbar-default justify-content-between">

            <a class="navbar-brand" href="#">LOGO</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Discipline </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Baby Gym</a>
                            <a class="dropdown-item" href="#">Loisir</a>
                        <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Gymnastique masculine</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Connexion</a>
                </li>
            </ul>

        </nav>
    </header>

    {# Affichage du contenu principal des pages #}
    {% block body %}{% endblock %}

       <!-- Footer -->
    <footer class="bg-default text-center text-lg-start">
        <!-- Grid container -->
        <div class="container col-lg-12 p-4">
        <!--Grid row-->
            <div class="row">
            <!--Grid column-->
                <div class="col-lg-4 col-md-12">
                    <h5 class="text-uppercase">LABEL</h5>
                    <img src="src/ffgym.jpg" class="footer_img" alt="label_ffg">
                    <img src="src/babygym.jpg" class="footer_img" alt="label_babygym">
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-12">
                    <h5 class="text-uppercase">CONTACT</h5>

                    <ul class="list-unstyled mb-0">
                        <li>
                            <p>Tél. 03 85 43 64 74</p>
                        </li>
                        <li>
                            <p><a href="mailto:ugchalon@gmail.com">Envoyez nous un mail !</a></p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-4 col-md-12">
                    <h5 class="text-uppercase mb-0">C.G.U.</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-dark">Lorem ipsum dolor sit amet consectetur.</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
        <!-- Grid container -->

  <!-- Footer -->

       <script src="{{ asset('js/jquery-3.5.1.slim.min.js') }}"></script>
       <script src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
       {# Inclusion des fichiers JS individuels des pages #}
       {% block js %}{% endblock %}
   </body>
   </html>
